/* universal styles/reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #111111;
}

.flex-main {
    display: flex;
    flex-direction: row;
    position: relative;
}
.flex-col-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin-top: 5.8%;
    margin-left: 7%;
}
.flex-col-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin-top: 5.8%;
    margin-right: 7%;
    margin-left: 2.5%;
}
#main-video {
    width: 720px;
    height: 400px;
}